fastapi
uvicorn[standard]
python-dotenv
aiohttp
requests
google-adk
python-multipart
google-api-python-client 
asyncpg
bcrypt==4.0.1 
passlib[bcrypt]==1.7.4
python-jose[cryptography]
pydantic[email]
pandas
twilio
qdrant-client
openpyxl
PyPDF2
apscheduler
google-generativeai
ddgs
pydantic-settings
httpx
pypdf
